.about-us{
    height: 80vh;
    width: 100%;
    background: #f0f0f0;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
}
  
.about-us h2{
    position: absolute;
    top: 50%;
    font-size: 36px;
    font-weight: normal;
}
  
.about{
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #f0f0f0;
}
 
.about .row{
    display: flex;
}
.about-col{
    /* flex-basis: 50%; */
    text-align: center;
    padding: 30px 20px;
}

.about-col .heading{
    text-align: center;
}

.about-col img{
    width: 100%;
}
  
.about-col h1{
    text-align: left;
    padding-top: 0;
    color: #00003f;
}
  
.about-col p{
    padding: 15px 0 25px;
    font-size: 14px;
    color: #00003f;
}

@media screen  and (max-width: 768px){
    .about-us{
        min-height: 50vh;
        display: flex;
        justify-content: center;
    }
    .about .row{
        flex-direction: column;
    } 
    .about-us h2{
        position: absolute;
        top: 35%;
        margin: auto 20px;
        font-size: 46px;
    } 
}