.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #0000;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home .image{
    flex: 1 1 25em;
}

.home .image video{
    width: 100%;
}

video::-webkit-media-controls-panel { 
    display: none ! important; 
    opacity: 1 ! important;
}
.home .content{
    flex:1 1 25rem;
    padding: 64px 0;
    text-transform: capitalize;
}
.home .content .eventdate-box{
    display: grid;
    grid-template-columns: 50% 30%;
    gap: 4em;
    align-items: center;
    background: #fff;
    padding: 2em;
    background: #e5e5e51d;
    border-radius: 10px;
    margin-top: 2em;
}
.eventdate-box h2{
    color: #fff;
}
.home .content h3{
    color: #e62429;
    font-size: 26px;
    line-height: 30px;
}

.home .content h1{
    color: #fff;
    font-size: 38px;
    line-height: 42px;
}

.home .content p{
    color:#aaa;
    font-size: 16px;
    padding: 16px 0;
}
@media screen and (max-width: 768px) {
    .home .content .eventdate-box{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        gap: 1em;
    }
}