.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url(../assets/images/banner.avif) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home .image{
    flex: 1 1 25em;
}

.home .image video{
    width: 100%;
}
video::-webkit-media-controls-panel { 
    display: none ! important; 
    opacity: 1 ! important;
}
.home .content{
    flex:1 1 25rem;
    padding: 64px 0;
}

.home .content h3{
    color: #e62429;
    font-size: 35px;
    /* padding-bottom: 1rem; */
}

.home .content h1{
    color: #fff;
    font-size: 25px;
}

.home .content p{
    color:#aaa;
    font-size: 16px;
    padding: 16px 0;
}
