.footer{
    background-color: #f0f0f0;
    padding-top: 50px;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex: 1 1 14rem;
    margin-top: 20px;
    margin-left: 7%;
}
.footer .box-container .box .footer-btn{
    padding: 10px 30px;
    margin: 26px 0;
}

.footer .box-container .box h2{
    font-size: 20px;
    color: #00003f;
    padding: 10px 0;
    font-weight: 600;
}
.footer-contact{
    display: flex;
    align-items: center;
}
.footer .box-container .box .footer-contact h3{
    font-size: 16px;
    color: #00003f;
    padding: 10px 0;
    font-weight: 400;
}
.footer .box-container .box .footer-contact a{
    padding: 10px 0;
    color: #e62429;
}
.footer .box-container .box .footer-contact a svg{
    margin-right: 10px ;
}

.footer .box-container .box p{
    color: #000000;
    font-weight: 400;
    font-size: 14px;
}

.footer-link{
    display: flex;
    flex-direction: column;
}
.footer-insta{
    margin: 10px 0;
}
.footer-link a, .footer-insta a{
    padding: 10px 0;
    color: #e62429;
}

.footer a:hover{
    text-decoration: underline;
}

.footer .credit{
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    padding: 10px 10px;
    color: #e62429;
}

.footer .credit a{
    color: #00003f;
}
@media screen and (max-width:768px) {
    .footer{
        padding-top: 20px;
    }
}