@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  transition: 0.5s ease;
}
html{
  scroll-behavior: smooth;
  /* font-size: 62.5%; */
  overflow-x: hidden;
}
html::-webkit-scrollbar{
  width: 8px;
  border-radius: 10%;
}

html::-webkit-scrollbar-track{
  background:#000;
}

html::-webkit-scrollbar-thumb{
  background: #00003f;
}
body{
  background: #000;
  overflow-x: hidden;
}
/* h1, h4, p, a{
  color: #fff;
} */
.btn{
  color: #fff;
  background: #e62429;
  font-size: 1em;
  font-weight: normal;
  display: inline-block;
  padding: 16px 60px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 10px;
  /* margin-top: 20px; */
  transition: 0.5s ease;
  text-decoration: none !important;
}

.btn:hover{
  background: #00003f;
  color: #fff;
}
section{
  min-height: 100vh;
  padding: 0 7%;
  padding-top: 50px;
}
.heading{
  text-align: center;
  color: #00003f;
  font-size: 30px;
}

.heading span{
  color:#e62429;
}